
<% layout('layouts/boilerplate') %>

    
    <section class="container">
    <h2>Covid 19 Vaccines for kids 5 to 11, Here's what to know..</h2>
    <img src="images/kids.jpg" width=550px>
    <br><br>
    <p>November marks a monumental milestone in the battle against COVID-19. <br><br>
    The U.S. Food and Drug Administration (FDA) expanded its emergency use authorization (EUA) for the Pfizer-BioNTech vaccine to children ages 5 to 11.
    This means, all children over the age of 5 are eligible to receive a COVID-19 vaccination. Pfizer is the only COVID-19 vaccine maker with full Food and Drug Administration (FDA) approval for people ages 16 and older.<br><br>
    Parents have been eagerly awaiting this news, especially since many kids are back to in-person learning this past fall. Coincidentally, this summer and fall, the U.S. saw its largest surge in COVID-19 cases and hospitalizations among children—more than at any time during the pandemic.<br><br>
    “The EUA for the Pfizer vaccine for children age 5-11 fills a large gap in our ability as health care providers to overcome the COVID-19 pandemic,” said Russell Horton, DO, a pediatrician at Banner Health Center in Queen Creek, AZ. <br><br>“Thankfully, children have not been the most severely affected by COVID-19 thus far. However, recent variants have been affecting children more and placing them at higher risk of hospitalization and serious harm. This vaccine, like all childhood vaccines, will significantly decrease the very real risk to children while also preventing further spread to people of every age.”
    <br><br>If you have a child between the ages of 5 and 11, here’s a guide to what we know about COVID-19 vaccines for this age group.</p>
    <br>
    <h3>Is the COVID-19 vaccine safe for children?</h3>
    <br>
    <p>Clinical trials have shown the Pfizer vaccine to be both safe and effective when used to prevent COVID-19 in children ages 5 to 11.</p>
     <br><br>
    <h3>Were COVID-19 vaccine clinical trials rushed?</h3><br>
    <p>The clinical trials for the COVID-19 vaccines have all been done with the same care and requirements applied to any previous FDA approved vaccine. Under the emergency circumstances of the pandemic, the review processes were made more efficient. This in no way means that any shortcuts were taken or that any data collection or safety monitoring was shortened. The trials for the 5-11-year age group included a large number of patients covering multiple backgrounds that provide excellent data.<br><br>
        As of October 2021, more than 6.55 billion doses have been administered across 184 countries, but most importantly, the vaccines have been shown time and again to be safe and effective in people ages 18 and over.<br><br>
        Another factor that should be reassuring for parents is the robust reporting system, VAERS, the U.S. has put in place to detect vaccine safety issues and side effects.<br><br>
        “The VAERS (Vaccine Adverse Event Reporting System) has long been an extra layer of protection and monitoring that should bring a sense of comfort to all patients receiving any vaccine,” Dr. Horton said. “Through VAERS any vaccine adverse event can be reported and monitored. This means that should a troubling previously unknown side effect begin to emerge, it would be quickly recognized and acted upon.” A report can be made to VAERS by anyone and all health care providers are required to make a report if an event occurs.<br></p>
        <br>
    <h3>Is the vaccine dose for children ages 5 to 11 different than people 12 and older?</h3><br>
    <p>The dosage for the Pfizer vaccine includes two doses of 10 micrograms each, 21 days apart. This is a smaller dose than the 30 micrograms used for those 12 years and older. Children in the clinical trial achieved an effective immune response comparable to the antibody levels seen in earlier trials for those 16 to 25 years of age.</p>
    <br><br>
    <h3>Takeaway</h3><br>
    <p>All age groups contribute to the transmission of the COVID-19 virus, and vaccinating children helps to reduce the spread of the disease across families, schools and communities.
        <br><br>Vaccines for kids 5-11 years of age will be available as many pediatricians’ offices, as well as at children’s hospitals, rural health clinics, pharmacies, some school-based clinics and other community locations.
        <br><br>If you have additional questions or concerns, talk to your child’s health care provider or visit the CDC website for details on the vaccine. For additional information about COVID-19 vaccines, treatment and prevention, check out these related articles:</p>
    
    <ul>
        <li>Talk to Your Children About Vaccines</li>
        <li>Why Your Teen Should Get COVID-19 Vaccine</li>
        <li>OVID-19 Vaccinations: 6 Vaccine Myths Explained</li>
        <li>What Can I Do After My COVID-19 Vaccination?</li>
    </ul>

    </section>
    </div>