<% layout('/layouts/boilerplate') %> 

  <div class="container">
    <section class="guidelines">

      <div class="row">
        <div class="col-7">
          <h2>COVID-19 and the Flu: Know the Symptoms</h2><br>
          <p>COVID-19 is still here and, unfortunately, flu season is also on its way. It’s not possible to definitively
            predict what will happen in the weeks and months to come, but the Centers for Disease Control and Prevention
            expects that flu viruses and the virus that causes COVID-19 will both be spreading this fall and winter.</p>
          <br>
          <p>Common symptoms shared by COVID-19 and influenza include:</p><br>
          <ul>
            <li>Fever or feeling feverish/chills</li>
            <li>Cough</li>
            <li>Fatigue</li>
            <li>Sore throat</li>
            <li>Congestion or runny nose</li>
            <li>Muscle pain or body aches</li>
            <li>Headaches</li>
            <li>Some people may have vomiting and diarrhea, though this is more common in children than adults</li>
          </ul><br>
          <p>See the infographic below to help better recognize the symptoms of both, as well as cold and allergies.
          </p>
          <img src="/images/infoo.JPG"><br><br>
          <h3>Ways to Prevent Sickness</h3>
          <br>
          <p>The flu shot is your single best defense against catching influenza. Flu shots are available at all Banner
            Urgent Care locations. You can reserve your spot online, so you don’t have to wait.
            <br><br>In addition to getting vaccinated each fall, having good health habits and following the recommended
            safety protocols currently in place to stop the spread of COVID-19 can also help stop the spread of the flu.
            <br><br>To stay healthy during flu season, Banner Health recommends:
          </p>
          <ul>
            <li>Getting your flu shot by the end of October, at the latest.</li>
            <li>Avoiding close contact with people who are sick.</li>
            <li>Staying home when you are sick.</li>
            <li>Covering your mouth and nose when coughing or sneezing.</li>
            <li>Washing your hands frequently.</li>
            <li>Avoiding touching your eyes, nose or mouth.</li>
          </ul>
          <br>
          <p>It is also important for everyone 12 years of age and older to get vaccinated against COVID-19 as soon as they can. For a COVID-19 vaccine location near you, visit vaccines.gov</p>

        </div>


        <div class="col-5 container">
          <img src="/images/family.jpg" alt="">
        </div>
      </div>
  </div>
  </div>

  </section>


