<% layout('/layouts/boilerplate') %>

<div class="fluid">
	<div>
		<rssapp-ticker id="fKIRkJFlHnsascf3"></rssapp-ticker>
		<script
			src="https://widget.rss.app/v1/ticker.js"
			type="text/javascript"
			async
		></script>
	</div>
	<section class="section-homepage fluid">
		<div class="header-text">
			<h2>Protect Your Family.</h2>
			<p class="text-home">
				Some members in your family may need to continue to take steps to <br />
				protect themselves from COVID-19, including...
			</p>
			<p>
				<a href="/guidelines" class="btn btn-lg btn-secondary">Learn more</a>
			</p>
		</div>
	</section>

	<section class="section-cases fluid">
		<div>
			<div class="row">
				<div class="col">
					<div class="card text-center">
						<h5 class="card-header">This Pandemic</h5>
						<div class="card-body">
							<h5 class="card-title">We are all togther in this</h5>
							<p class="card-text">
								"Like education, healthcare also needs to be given importance."
							</p>
							<a href="/findingCenters/findCenter" class="btn btn-primary"
								>Find vaccination center</a
							>
						</div>
					</div>
				</div>
				<div class="col">
					<div>
						<iframe
							src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map"
							width="100%"
							height="600px"
						></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
