<% layout('/layouts/boilerplate') %>

<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Select A State
        </button>
        <%= states %> 
        <!-- <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <% for(let state of states){%>
                        <li><a class="dropdown-item" ><%= state.state_name %></a></li>
                <% } %> 
        </ul> -->
</div>