<% layout('layouts/boilerplate') %>
<div class="container">
	<h2>Got FOMO? Tips for Overcoming Your Anxiety Post-Pandemic</h2>
	<br />
	<img src="/images/fomo.jpg" width="500px" />
	<br /><br />
	<p>
		Is your social media feed more packed these days with photos of dinner
		dates, get-togethers and trips to the beach? It seems like everyone is out
		from isolation living their best lives again, yet here you are on your couch
		in your home not quite ready for it all. <br /><br />These days, we’re still
		navigating COVID-19, variants, vaccinations and minimizing the spread, but
		many people have welcomed back some ‘normalcy’ in their lives—everyone, it
		seems, but you. Back to normal was all you dreamed about for months (or a
		year!). You don’t want to miss out on get-togethers with friends or eating
		inside at your favorite restaurants again, but you feel uncertain, even
		downright anxious. <br /><br />You have FOMO, fear of missing out, but in
		this case, it’s missing out on normal life. FOMO isn’t something new, but it
		does look a bit different these days.
	</p>
	<br />
	<h3>Why FOMO got worse during the pandemic</h3>
	<br />
	<p>
		“FOMO comes mainly from comparing ourselves with others; what others have
		and what we don’t,” said Jerimya Fox, a licensed professional counselor and
		a doctor of behavioral health at Banner Behavioral Health Hospital.
		“Pre-COVID, you may have experienced FOMO when someone got promoted and you
		didn’t. Today, people are experiencing FOMO as they see others going out and
		living a somewhat normal life, while they’re not ready to attend events or
		be with others. FOMO is self-driven, but it can increase anxiety, worries
		and uncertainty."
	</p>
</div>
