<% layout('layouts/boilerplate') %>

<section class="section-login">
  <div class="container sign-inpage ">
      <div class="row ">
          <div class="col md-6">
              <div class="card text-center quote">
                  <div class="card-header">
                      Quote
                  </div>
                  <div class="card-body">
                      <blockquote class="blockquote mb-0">
                          <p class="quote-text">“At the end of the day, the goals are simple: Safety and security."</p>
                          <footer class="blockquote-footer">Jodi Rell, <cite title="Source Title">former
                                  Governor
                                  of Connecticut</cite></footer>
                      </blockquote>
                  </div>
              </div>
          </div>
          <div class="col">
            <form action="/login" method="POST" class="validate-form" novalidate>
                  <div class="form-row">
                    <div class="sign-in">
                      <div class="form-group col">
                            <div class="form-row">
                              <div class="form-group col">
                                <label for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                              </div>
                            </div>
    
                            <div class="form-row">
                              <div class="form-group col">
                                <label  for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                              </div>
                            </div>
                            <button class="btn btn-success mt-3">Login</button>
                          </div>
                        </form>
                        <div class="text-center">
                          <p>Don't have an account? <a href="/register" class="alert-link">Sign up</a></p>
                          </div>
                    </div>
                </div>
            </div>
  </section>