<% layout('layouts/boilerplate') %>
<section class="section-signup">
	<div class="row">
		<div class="col-8">
			<form action="/register" method="POST" class="validate-form" novalidate>
				<div class="form-row">
					<div class="form-group mb-3">
						<label class="form-label" for="username">Username</label>
						<input
							class="form-control"
							type="text"
							id="username"
							name="username"
							required
							autofocus
						/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group mb-3">
						<label class="form-label" for="email">Email</label>
						<input
							class="form-control"
							type="email"
							id="email"
							name="email"
							required
						/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label class="form-label" for="password">Password</label>
						<input
							class="form-control"
							type="password"
							id="password"
							name="password"
							required
						/>
					</div>
				</div>
				<button class="btn btn-success btn-block mt-3">Register</button>
				<p class="log">Already have an account? <a href="/login">Login</a></p>
			</form>
		</div>
		<div class="col-4 steps">
			<div class="step-row">
				<p class="signup-text">Next Steps</p>
				<div>
					<ul>
						<li>Check out the latest news</li>
						<li>Check out the guidelines for Covid-19</li>
						<li>Find out nearby vaccination centers</li>
						<li>Read the reviews of the centers</li>
						<li>Don't forget to book a slot</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
